@import url('https://fonts.googleapis.com/css2?family=font-name&family=Verdana&display=swap');

body {
    font-family: Arial, Verdana, sans-serif;
}
h2 {
    font-family: var(--heading-font);
}

:root {
    --primary-color: #50514F;
    --secondary-color: #247BA0;
    --accent1-color: #CBD4C2;
    --accent2-color: #FFFCFF;
    
    --heading-font: 'Lastone', serif;
    --paragraph-font: 'Ariel', san-serif;

    --nav-background-color:lightgrey;
    --nav-link-color: rgb(8, 43, 55);
    --nave-hover-link-color:rgb(114, 51, 114);
    --nav-hover-background-color:rgb(112, 128, 163);


}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6{
    font-family: va(--heading-font);
    color: var(--primary-color);
}

header { 
    padding:20px;
    background-color: var(--accent1-color);
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
}

nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, 
nav a: visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color); rgb(43, 22, 43);
    background-color: var(--nav-hover-background-color);rgb(113, 117, 156);
}