@import url('https://fonts.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display=swap');

body {
    font-family: Arial, Verdana, sans-serif;
}
h2 {
    font-family
}

:root {
    --primary-color: #50514F;
    --secondary-color: #247BA0;
    --accent1-color: #CBD4C2;
    --accent2-color: #FFFCFF;
    
    --heading-font: 'Ariel', serif;
    --paragraph-font: 'Lastone', serif;

    --nav-background-color:light grey
    --nav-link-color: light blue
    --nave-hover-link-color:
    --nav-hover-background-color::after

}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6{
    font-family: va(--heading-font);
    color: var(--primary-color);
}

header { 
    padding:20px;
    background-color: var(--accent1-color);
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
}

nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a: visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}